
.coin-container{
    display: flex;
    justify-content: center;
    background-color: #1a1a1c;
    color: #fff;
  }

.coin-row{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: cornsilk solid;
    background-color: cadetblue;
}

.coin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: blue;
    margin-left: 1%;
}
.coin h1{
    font-size: 16px;
    width:150px;
}

.coin img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.coin-data{
    display:flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: blueviolet;
}
.coin-price{
    width: 15%;
}

.coin-volume{
    width: 15%;
}

.coin-perc-red{
    color:red;
    width: 15%;
}
.coin-perc-green{
    color:green;
    width: 15%;
}

.coin-marketcap {
    width: 15%;
}
  
.calc{
    cursor: pointer;
    width: 15%;
}
.bookmark{
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: chartreuse;
}

.okbtn{
    color: #fff;
    cursor: pointer;
    width: 15%;
}


