.coin-container {
    display: flex;
    justify-content: center;
    background-color: #1a1a1c;
    color: #fff;
}

.coin-row {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-items: center;
    align-items: center;
    height: 80px;
    border-bottom: cornsilk solid;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-left: 1%;
}

.coinName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin h1 {
    font-size: 16px;
}

.coin img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.coin-price {
    width: 16%;
}

.coin-volume {
    width: 16%;
}

.coin-perc-red {
    color: rgb(255, 0, 0);
    width: 16%;
}

.coin-perc-green {
    color: rgb(57, 248, 32);
    width: 16%;
}

.coin-marketcap {
    width: 16%;
}

.calc {
    cursor: pointer;
    width: 16%;
}

.bookmark {
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.amount {
    width: 16%;
}

.coin-profit {
    width: 16%;
}